div#datelist{
    width: 25%;
    display: inline;
    text-align: center;
}

div#list{
    width: 35%;
    display: inline;
    text-align: center;
}

input#inputDo{
    width: 50%;
    height: 4%;
    font-size: 100%;
}

input#date{
    width: 20%;
    height: 4%;
    font-size: 100%;
}

input#check{
    width: 70%;
}

input#year{
    width: 20%;
    height: 4%;
    font-size: 100%;
}


div#zentai{
    text-align: center;
}

body{
    background-color: blanchedalmond;
}

button{
    width: 9%;
    height: 4%;
   
}

ul{
    list-style: none;
}

li#listAll{
    left: 100px;
}

table#myTable{
    width: 90%;
    text-align: center;
}

th#check{
    width: 15%;
}
th#do{
    width: 60%;
}
th#day{
    width: 25%;
    background-color: coral;
}
